// ====  FONTES  ====
$fonte: 'Roboto', sans-serif;


// ====  CORES  ====
$cor-primary: #495371;
$cor-secondary: #74959A;
$cor-terciary: #F1E0AC;

// ====  TAMANHO DAS FONTES  ====

$tamanho-do-texto: 3rem;